/* PageNorth Login Screen Customisations */
:root {
    --pn-blue: #1e2c55;
    --pn-green: #92c13e;
    --pn-green-darker: #7ca92f;
    --pn-green-highlight: #e1edcc;
}

body {
    background-color: var(--pn-blue);
}

.login-container .logo img {
    width: 240px;
}

/* Styles all buttons to pagenorth green */
.btn-primary {
    color: #fff;
    font-weight: bold;
    background-color: var(--pn-green);
    border-color: var(--pn-green-darker);
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active {
    background-color: var(--pn-green-darker);
    border-color: var(--pn-green-darker);
}

.btn-primary.active.focus, .btn-primary.active:focus, .btn-primary.active:hover, .btn-primary:active.focus, .btn-primary:active:focus, .btn-primary:active:hover, .open>.dropdown-toggle.btn-primary.focus, .open>.dropdown-toggle.btn-primary:focus, .open>.dropdown-toggle.btn-primary:hover {
    color: #fff;
    background-color: var(--pn-green-darker);
    border-color: var(--pn-green-darker);
}